body {
  position: relative;
  font-size: 13px;
  color: #fff;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  background: #141414 url("../imgs/bgr.png") no-repeat top center fixed;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.content-main {
  min-width: 1200px;
  max-width: 1688px;
  margin: 0 auto;
}

table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #434343;
}

td {
  border: 1px solid #434343;
}

th {
  padding: 15px;
  border: 1px solid #434343;
  background-color: #434343;
}

.logo {
  margin-left: auto;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #141414;
}

.table-container {
  margin-top: 70px;
  text-align: center;
  background-color: #141414;
}

.card-inner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background-color: #0a263e;
}

.card-inner-icon--plus {
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  background-color: #dbe120;
}

.card-inner-icon--plus:before {
  background-color: #0a263e;
  width: 3px;
  height: 13px;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%);
}

.card-inner-icon--plus:after {
  content: "";
  width: 13px;
  height: 3px;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0a263e;
}

.navigation-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.25s ease-in-out;
  z-index: 1;
  color: #fff;
  background-color: #0a263e;
}

html.side-menu-active .navigation-menu {
  transform: translate3d(0, 0, 0);
}

.side-menu-active .page-overlay {
  display: block;
}

.page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease-in-out;
}

.side-nav-img {
  height: 20px;
  width: 20px;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-radius: 100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 2;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-radius: 100%;
  animation: spin 3s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border: 3px solid transparent;
  border-top-color: orange;
  border-radius: 100%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
