$primary-color: #fff;

//header
$background-color__HEADER: #141414;

//table
$background-color__TABLE__table-header: #434343;
$border__TABLE: 1px solid #434343;
$background-color__TABLE__table-container: #141414;